@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

:root {
	--color-primary: #ee394c;
	--color-secondary: #86b7fe;
	--color-light: #f2f2f2;
	--color-gray: #ced4da;
	--color-dark: #212121;
	--color-white: #ffffff;
	--color-error: #e2442f;
	--color-warning: #ffc900;
	--color-info: #02a2b9;
	--color-success: #1ba345;
	--color-input: #00d1b2;
	--c-text-primary: #282a32;
	--c-text-secondary: #686b87;
	--c-text-action: #404089;
	--c-accent-primary: #434ce8;
	--c-border-primary: #eff1f6;
	--c-background-primary: #ffffff;
	--c-background-secondary: #fdfcff;
	--c-background-tertiary: #ecf3fe;
	--c-background-quaternary: #e9ecf4;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Dosis", sans-serif;
	text-rendering: optimizeLegibility;
	background-color: var(--c-background-secondary);
	color: var(--c-text-primary);
	display: flex;
	gap: 1rem;
	flex-wrap: nowrap;
	flex-flow: column;
	min-height: 100svh;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 5rem;
	border-bottom: 0.1rem solid var(--c-border-primary);
	background-color: var(--c-background-primary);
}

#nav-title {
	flex-grow: 0.1;
	display: flex;
	justify-content: center;

	@media (max-width: 50em) {
		flex: none;
	}

	& h1 {
		font-size: 1.5rem;
		padding: 1ch;
	}
}

#header-nav {
	display: flex;
	flex-grow: 1;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end;

	& li {
		list-style: none;
		display: inline-block;
		padding: 0 1rem;
	}

	& a {
		text-decoration: none;
		color: var(--c-text-action);
		font-weight: 500;
		transition: all 0.3s ease 0s;

		&:is(:hover, :focus) {
			color: var(--c-accent-primary);
		}
	}
}

main {
	display: grid;
	grid-template-columns: auto 1fr;
	margin-inline: 5rem;
	padding-right: 1rem;
}

#main-nav {
	& li {
		list-style: none;
		display: inline-block;
		padding: 0 0.5rem;
		display: flex;
		flex-direction: column;
	}

	& i {
		margin-right: 0.75rem;
	}

	& a {
		display: flex;
		align-items: center;
		padding: 0.75rem 1rem;
		background-color: transparent;
		border-radius: 0.1rem;
		text-decoration: none;
		font-weight: 500;
		color: var(--c-text-action);
		transition: 0.15s ease;

		&:hover {
			color: var(--c-text-action);
		background-color: var(--c-background-quaternary);
		}

		&.active {
			background-color: var(--c-background-tertiary);
			color: var(--c-accent-primary);
		}


	}
}

#content {
	padding-bottom: 0.1rem;
	flex-grow: 1;
}

#card-grid-dashboard {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: minmax(0.5rem, auto) repeat(6, 1fr);

	&:is(.item1, .item2, .item3, .item4) {
		grid-row: 1;
	}
	& .item5 {
		grid-row: 2 / 4;
		grid-column: 1 / 3;
	}
	& .item6 {
		grid-row: 2 / 4;
		grid-column: 3 / 5;
	}
	& .item7 {
		grid-row: 4 / 6;
		grid-column: 1 / 5;
	}
	& .item8 {
		grid-row: 6 / 8;
		grid-column: 1 / 3;
	}
	& .item9 {
		grid-row: 6 / 8;
		grid-column: 3 / 5;
	}

	& .card {
		background-color: var(--c-background-primary);
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
		border-radius: 8px;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		&:nth-of-type(n + 1):nth-of-type(-n + 4) .card-body {
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: clamp(1rem, 2vw + 1rem, 2.5rem);
			color: var(--c-text-action);
			padding: 0.1rem 0.5rem 0.5rem 0.5rem;
			line-height: normal;
		}

		& .card-header {
			display: flex;
			place-content: center;
			padding: 0.7rem 1.5rem 0.1rem 1.5rem;
			font-size: clamp(0.5rem, 0.5vw + 0.6rem, 1.5rem);
			font-weight: 500;
		}

		& .card-body {
			padding: 0.5rem;
		}

		& .card-footer {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			border-top: 0.1rem solid var(--c-border-primary);
			margin-top: auto;
			padding: 1rem 1.25rem;

			& a {
				color: var(--c-text-action);
				text-decoration: none;
				font-weight: 500;
				font-size: 0.875rem;
			}
		}
	}
}

#card-grid-trips {
	display: grid;
	gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

	& .card {
		background-color: var(--c-background-primary);
		box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
		border-radius: 8px;
		overflow: hidden;
		display: flex;
		flex-direction: column;

		& .card-header {
			display: flex;
			place-content: center;
			padding: 0.5rem 1.5rem;
			font-size: clamp(0.5rem, 0.5vw + 0.6rem, 1.5rem);
			font-weight: 500;
		}

		& .card-body {
			display: flex;
			place-content: center;
			padding: 0;
			line-height: normal;

			& img {
				aspect-ratio: 16/9;
				object-fit: cover;
				width: 100%;
				height: 10rem;
			}
		}

		& .card-footer {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			border-top: 0.1rem solid var(--c-border-primary);
			margin-top: auto;
			padding: 1rem 1.25rem;
		}
	}
}

#data-table {
	& table {
		width: 100%;
		table-layout: fixed;
		border-collapse: collapse;
		overflow: hidden;
	}

	& .table-header {
		background-color: var(--color-gray);

		& th {
			padding: 0.8rem;
			text-align: center;
			font-weight: 500;
			font-size: clamp(0.5rem, 0.5vw + 0.4rem, 1.2rem);
			color: var(--c-text-primary);
			text-transform: uppercase;
			width: 7%;

			&:last-child {
				width: 7.7%;

				@media (max-width: 80em) {
					width: 7.9%;
				}

				@media (max-width: 50em) {
					width: 8.3%;
				}
			}
		}
	}

	& .table-content {
		overflow-x: auto;
		height: 68svh;
		border: 0.1rem solid var(--c-border-primary);

		& tr:hover {
			background-color: var(--c-border-primary);
		}

		& td {
			padding: 1rem;
			text-align: center;
			vertical-align: middle;
			font-weight: 300;
			font-size: clamp(0.5rem, 0.5vw + 0.5rem, 1.2rem);
			color: var(--c-text-primary);
			border-bottom: solid 0.1rem var(--c-border-primary);
			position: relative;
			width: 7%;

			@media (max-width: 80em) {
				padding: 0.6rem 0.1rem;
			}

			@media (max-width: 50em) {
				padding: 0.8rem 0.1rem;
			}

			&:nth-last-child(-n + 2) {
				width: 3.5%;

				& a {
					font-size: clamp(0.5rem, 0.5vw + 0.5rem, 1rem);
					text-decoration: none;
					text-align: center;
					font-weight: 500;
					color: var(--c-text-primary);
				}
			}

			&:last-child a {
				color: var(--color-primary);
			}

			&:not(:nth-last-child(-n + 2)):hover {
				background-color: var(--c-accent-primary);
				color: var(--c-background-primary);
			}

			&:not(:nth-last-child(-n + 2)):hover::before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				top: -1000rem;
				bottom: -1000rem;
				background-color: var(--c-border-primary);
				z-index: -1;
			}
		}
	}
}

#generate-data {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: nowrap;
	flex-direction: row;
	padding: 0.3rem 1rem;

	& .labels {
		& label {
			display: flex;
			align-items: center;
			width: fit-content;
			padding: 0.3rem;

			& span {
				font-size: 1.2rem;
				padding-right: 0.5rem;
			}
		}

		& input[type="date"] {
			padding: 0.3rem;
			font-size: 0.9rem;
			border: 0.1rem solid var(--c-text-secondary);
			border-radius: 5px;
		}

		& input[type="number"] {
			padding: 0.3rem;
			font-size: 0.9rem;
			border: 0.1rem solid var(--c-text-secondary);
			border-radius: 5px;
			width: 4rem;
			max-width: fit-content;
		}

		& select {
			padding: 0.3rem;
			font-size: 0.9rem;
			border: 0.1rem solid var(--c-text-secondary);
			border-radius: 5px;
			width: 10rem;
			max-width: fit-content;
		}

		& input:invalid:focus + span::after {
			font-size: 1.2rem;
			content: "✖";
			color: var(--color-error);
			visibility: visible;
			padding: 0.3rem;
		}

		& input:invalid:not(:focus) + span::before {
			font-size: 1.2rem;
			content: "✖";
			visibility: hidden;
			padding: 0.3rem;
		}

		& input:valid:not(:focus) + span::before {
			font-size: 1.2rem;
			content: "✓";
			visibility: hidden;
			padding: 0.3rem;
		}

		& input:valid:focus + span::after {
			font-size: 1.2rem;
			content: "✓";
			color: var(--color-success);
			visibility: visible;
			padding: 0.3rem;
		}
	}

	& #label-dates {
		display: flex;
		justify-content: start;
		flex-wrap: nowrap;
		flex-direction: column;
		flex-grow: 1;
		width: 30%;
	}

	& #label-body {
		display: flex;
		justify-content: start;
		flex-wrap: nowrap;
		flex-direction: column;
		flex-grow: 1;
		width: 30%;
	}

	& #label-activity {
		display: flex;
		justify-content: start;
		flex-wrap: nowrap;
		flex-direction: column;
		flex-grow: 1;
		width: 30%;
	}

	& button {
		background-color: var(--c-border-primary);
		margin: 0.5rem;
		padding: 0.5rem;
		font-size: 1rem;
		text-decoration: none;
		border-radius: 0.3rem;
		border: 0.1rem solid var(--c-text-secondary);
	}
}

.tab-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto 1fr;
	margin-bottom: 1rem;
	color: var(--c-text-action);

	& input {
		display: none;
	}

	& input:checked + label {
		color: var(--c-accent-primary);
		background-color: var(--c-background-tertiary);
		font-weight: 500;
		transition: all 250ms;
	}

	& input:not(:checked) + label {
		color: var(--c-text-secondary);
		background-color: var(--c-background-quaternary);
		font-weight: 500;
		transition: all 250ms;
	}

	& label {
		cursor: pointer;
		text-align: center;
		font-weight: 500;
		transition: color 250ms;
		padding: 1em;
		border-top: 0.1rem solid var(--c-border-primary);
		border-left: 0.1rem solid var(--c-border-primary);
		border-right: 0.1rem solid var(--c-border-primary);
		border-radius: 0.5rem 0.5rem 0rem 0rem;
		background-color: var(--c-background-secondary);
		transition: all 250ms;

		&:last-of-type {
			border: none;
		}
		
		&:hover {
			color: var(--c-text-action);
			background-color: var(--c-background-tertiary);
		}
	}

	& .tab-content {
		display: grid;
		grid-column: 1 / -1;
		padding: 0.3rem;
		border-bottom: 0.1rem solid var(--c-border-primary);
		border-left: 0.1rem solid var(--c-border-primary);
		border-right: 0.1rem solid var(--c-border-primary);
		border-radius: 0rem 0rem 0.5rem 0.5rem;
		background-color: var(--c-background-tertiary);
	}

	& input#tab01:checked ~ .tab-content:not(:nth-of-type(1)),
	& input#tab02:checked ~ .tab-content:not(:nth-of-type(2)),
	& input#tab03:checked ~ .tab-content:not(:nth-of-type(3)) {
		display: none;
	}
}

footer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 0.5rem 1.5rem;
	height: 3rem;
	border-top: 0.1rem solid var(--c-border-primary);
	background-color: var(--c-background-primary);
	margin-top: auto;
}

@media (max-width: 80em) {
	main {
		margin-inline: 0.5rem;
	}

	#card-grid-dashboard {
		gap: 1.5rem;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: minmax(0.5rem, auto) minmax(0.5rem, auto) repeat(5, 1fr);

		& .item1 {
			grid-column: 1;
			grid-row: 1;
		}
		& .item2 {
			grid-column: 2;
			grid-row: 1;
		}
		& .item3 {
			grid-column: 1;
			grid-row: 2;
		}
		& .item4 {
			grid-column: 2;
			grid-row: 2;
		}
		& .item5 {
			grid-column: 1 / 3;
			grid-row: 3;
		}
		& .item6 {
			grid-column: 1 / 3;
			grid-row: 4;
		}
		& .item7 {
			grid-column: 1 / 3;
			grid-row: 5;
		}
		& .item8 {
			grid-column: 1 / 3;
			grid-row: 6;
		}
		& .item9 {
			grid-column: 1 / 3;
			grid-row: 7;
		}
	}
}

@media (max-width: 50em) {
	main {
		margin-inline: 0;
		padding-right: 1rem;
	}

	#main-nav {
		& i {
			margin-right: 0;
		}

		& a {
			padding: 0.75rem 0.7rem;
		}

		& li {
			cursor: pointer;
			transition: all ease-out 120ms;

			&:hover .nav-text {
				visibility: visible;
				opacity: 1;
				z-index: 10;
			}
		}

		& .fa-solid {
			font-size: 1.2rem;
		}
	}

	.nav-text {
		display: inline-block;
		position: absolute;
		background-color: var(--c-text-action);
		color: var(--c-background-primary);
		padding: 0.5rem 0.9375rem;
		border-radius: 5px;
		left: 5em;
		opacity: 0;
		visibility: hidden;
		font-size: 0.8rem;
		letter-spacing: 0.1ch;

		&:before {
			content: "";
			display: block;
			position: absolute;
			left: -0.3rem;
			top: 0.7rem;
			transform: rotate(45deg);
			width: 0.7rem;
			height: 0.7rem;
			background-color: inherit;
		}
	}
}
