{% extends "base.html" %}
{% load static %}

{% block page_title %}
    Trips
{%endblock%}

{% block content %}
    {% include "steps/includes/header.html" %}

    <section id="content">
        <div id="card-grid-trips">
            <article class="card item1">
                <div class="card-header">
                    <p>Trip to France</p>
                </div>
                <div class="card-body">
                    <img src="{% static "images/Darcha_Padum_Road_Below_Shinku_La_Lahaul_Oct22_A7C_03533.jpg" %}"/>
                </div>
                <div class="card-footer">
                    <p>Number of steps: 11 023</p>
                </div>
            </article>
            <article class="card item2">
                <div class="card-header">
                    <p>Trip to Poland</p>
                </div>
                <div class="card-body">
                    <img src="{% static "images/Dülmen,_Kirchspiel,_Dernekamp,_Bäume_--_2021_--_9397.jpg" %}"/>
                </div>
                <div class="card-footer">
                    <p>Number of steps: 11 023</p>
                </div>
            </article>
            <article class="card item3">
                <div class="card-header">
                    <p>Trip to Spain</p>
                </div>
                <div class="card-body">
                    <img src="{% static "images/Gokyo_Ri_summit,_Gokyo_Lake,_Nepal,_Himalayas.jpg" %}"/>
                </div>
                <div class="card-footer">
                    <p>Number of steps: 11 023</p>
                </div>
            </article>
            <article class="card item4">
                <div class="card-header">
                    <p>Trip to London</p>
                </div>
                <div class="card-body">
                    <img src="{% static "images/Himalayas,_Nepal.jpg" %}"/>
                </div>
                <div class="card-footer">
                    <p>Number of steps: 11 023</p>
                </div>
            </article>
            <article class="card item5">
                <div class="card-header">
                    <p>Trip to Plovdiv</p>
                </div>
                <div class="card-body">
                    <img src="{% static "images/Neckargerach_-_Mittelberg_-_Westhang_an_Oktoberabend.jpg" %}"/>
                </div>
                <div class="card-footer">
                    <p>Number of steps: 11 023</p>
                </div>
            </article>
            <article class="card item6">
                <div class="card-header">
                    <p>Trip to Sofia</p>
                </div>
                <div class="card-body">
                    <img src="{% static "images/Shila_Tsarap_Mountains_Zanskar_Oct22_A7C_04113.jpg" %}"/>
                </div>
                <div class="card-footer">
                    <p>Number of steps: 11 023</p>
                </div>
            </article>
            <article class="card item7">
                <div class="card-header">
                    <p>Trip to Lisbon</p>
                </div>
                <div class="card-body">
                    <img src="{% static "images/Tübingen_-_Neckarinsel_-_Blick_entlang_Neckar_im_Herbst.jpg" %}"/>
                </div>
                <div class="card-footer">
                    <p>Number of steps: 11 023</p>
                </div>
            </article>
            <article class="card item8">
                <div class="card-header">
                    <p>Trip to Italy</p>
                </div>
                <div class="card-body">
                    <img src="{% static "images/Танцюючі_тополі.jpg" %}"/>
                </div>
                <div class="card-footer">
                    <p>Number of steps: 11 023</p>
                </div>
            </article>
            <article class="card item9">
                <div class="card-header">
                    <p>Trip to Austria</p>
                </div>
                <div class="card-body">
                    <img src="{% static "images/Dülmen,_Kirchspiel,_Dernekamp,_Bäume_--_2021_--_9397.jpg" %}"/>
                </div>
                <div class="card-footer">
                    <p>Number of steps: 11 023</p>
                </div>
            </article>
        </div>
    </section>
{% endblock %}