{%load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'style.css' %}" />
		<link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
			integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<title>
			{% block page_title %}Steps Analyzer{% endblock %}
		</title>
	</head>

	<body>
		<header>
			<div id="nav-title">
				<h1>Steps Analyzer</h1>
			</div>
			<nav id="header-nav">
				<ul>
					<li><a href="#">Logo</a></li>
					<li><a href="#">Logo3</a></li>
					<li><a href="#">Logout</a></li>
					<li><a href="#">Login</a></li>
					<li><a href="#">Join Now</a></li>
				</ul>
			</nav>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer>
			<div id="container">
				<p>&copy; Copyright Nikola Bozhinov</p>
			</div>
		</footer>
	</body>
</html>
