<nav id="main-nav">
    <ul>
        <li>
            <a href="{% url "dashboard" %}" {% if request.path == '/' %}class="active"{% endif %}>
                <i class="fa-solid fa-chart-line"></i><span class="nav-text">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="{% url "data-view" %}" {% if request.path == '/data-view/' %}class="active"{% endif %}>
                <i class="fa-solid fa-table"></i><span class="nav-text">Data table</span>
            </a>
        </li>
        <li>
            <a href="{% url "calendar" %}" {% if request.path == '/calendar/' %}class="active"{% endif %}>
                <i class="fa-solid fa-calendar-days"></i><span class="nav-text">Calendar</span>
            </a>
        </li>
        <li>
            <a href="{% url "clustering" %}" {% if request.path == '/clustering/' %}class="active"{% endif %}>
                <i class="fa-solid fa-circle-nodes"></i><span class="nav-text">Clustering</span>
            </a>
        </li>
        <li>
            <a href="{% url "trips" %}" {% if request.path == '/trips/' %}class="active"{% endif %}>
                <i class="fa-solid fa-mountain-sun"></i><span class="nav-text">Trips</span>
            </a>
        </li>
        <li>
            <a href="{% url "tourist-attractions" %}" {% if request.path == '/tourist-attractions/' %}class="active"{% endif %}>
                <i class="fa-solid fa-map-location-dot"></i><span class="nav-text">Tourist attractions</span>
            </a>
        </li>
        <li>
            <a href="{% url "visited-countries" %}" {% if request.path == '/visited-countries/' %}class="active"{% endif %}>
                <i class="fa-solid fa-earth-europe"></i><span class="nav-text">Visited countries</span>
            </a>
        </li>
        <li>
            <a href="{% url "settings" %}" {% if request.path == '/settings/' %}class="active"{% endif %}>
                <i class="fa-solid fa-sliders"></i><span class="nav-text">Settings</span>
            </a>
        </li>
    </ul>
</nav>			